<div class="container shadow ">
  <div class="row p-4">
    <div class="col align-self-center">
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Nombre de técnico</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre de técnico" 
              required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Tiempo de respuesta</label>
            <input type="number" class="form-control" id="validationTooltip02" placeholder="0"
              required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
              <label for="validationTooltip0">Tiempo en proceso</label>
              <input type="number" class="form-control" id="validationTooltip0" placeholder="0"
                required>
              <div class="valid-tooltip">
                Looks good!
              </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationTooltip03">City</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
            <div class="invalid-tooltip">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationTooltip04">State</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
            <div class="invalid-tooltip">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationTooltip05">Zip</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
            <div class="invalid-tooltip">
              Please provide a valid zip.
            </div>
          </div>
        </div>
        <button class="btn btn-block btn-primary" type="submit">Submit form</button>
      </form>
    </div>
  </div>
</div>