.bg-light-trasparent{
    background: rgba(0, 0, 0, .2);
}
.bg-light-trasparent-btn{
    background: rgba(0, 0, 0, 0);
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}
.bg-light-trasparent-btn:hover{
    background: rgba(0, 0, 0, .5);
}